// ==========================================================================
// Foundation
// ==========================================================================
@import "foundation/_reset";
@import "foundation/_function";
@import "foundation/_base";
@import "foundation/_setting";



//baseとして、決めるもの
//innerとsecの幅
//sec-ttl
//btn
//


//こうすることで、ちょうど1em=10pxになり、

//18pxにしたいなあと思うなら1.8emと書けば良いし、

//24pxにしたいなら2.4emと書けば良いので計算がしやすいわけです。

//階層が下がるとその要素はその親要素のフォントサイズを基準にしてしまいます。

//※ line-heightは「em」単位省略しても結果は同じなので不要ですが…

//子供に0.5em すれば親の半分の値になる

//ただ、デザインカンプの再現など、実務ではあまり使えないような印象を持っています。

// /例えば、16pxで指定してある文章に対して、同じくらいのサイズで余白を取りたい場合はmargin-bottom: 1em;と指定すればOKです。

//こんな感じで、感覚的にコーディングしたい時に向いているのが「em」だと個人的には思っています。
//（デザインカンプから再現する時には使いづらい気はします…）


//letter spacing 75は,  75 / 1000 = 0.075emになります。


// ==============================
//common
// ==============================
.sec {
  padding-top:64px;
  padding-bottom: 94px;
  @include mq() {
   }
   &-heading {
  text-align: center;
  font-size: 32px;
  @include mq() {
    font-size: 16px;
        }
    }
}
.inner {
  max-width: 1024px; 
  margin: auto;
  @include mq() {
   width: 100%;;
     }
}
@include mq() {
  .br {
    display: contents;
  }
    }

// ==============================
// btn
// ==============================
.mv-btn {
  background-color: #ffaa3b;
  box-shadow: 0 3px 5px rgba(140, 136, 136, 0.2);
  color: #fff;
  display: block;
  font-size: 1.8rem;
  letter-spacing: .025em;//25px
  line-height: 50px;
  margin-top: 40px;
  text-align: center;
  transition: background-color .2s;
  width: 280px;
  @include mq() {
margin: auto;
  }
 }
.contact-btn {
  color: $color_default;
  border-radius: 10px;
  font-size: 14px;
  padding: 12px 36px;
  display: block;
  font-size: 10px;
  margin-top: 40px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
}
.contact-btn {
  background-color: #ffaa3b;
}
.contact-btn:disabled {
  background-color: #cccccc;
  cursor: not-allowed;
}
.util-link {
  border: solid 1px #3e3e3e;
  color: #3e3e3e;
  display: block;
  font-family: "Montserrat", sans-serif;
  font-size: 2rem;
  font-weight: 600;
  letter-spacing: .2em;
  padding: .8em 0;
  position: relative;
  text-align: center;
  -webkit-transition: background-color .2s, color .2s;
  transition: background-color .2s, color .2s;
}




// ==============================
// header
// ==============================
.header {
  position: fixed;
  z-index: 10;
  height: 80px;
  width: 100%;
  box-sizing: border-box;
  background: rgba(255, 255, 255, 0.1);
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
  padding: 0 10px;
  &-inner {
  width: 1024px;
  margin: auto;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  @include mq() {
    width: 100%;
    justify-content: space-between;
    }
  }
  &-logo {
    display: none;
    @include mq() {
    display: block;
      }
  }
  &-ttl {
    color: $color_sub;
    margin-left: 16px;
    font-size: 26px;
    @include mq() {
      font-size: 16px;
    }
  }
  &-logo {
    display: flex;
    align-items: center;
  }
  img {
    height: 55px;
    width: 55px;
  }
  span {
    font-size: 24px;
  }
  &-nav {
    @include mq() { 
      display: block;
      position: absolute;
      top: 0;
      right: -100%;
      background: rgba(255, 255, 255, .85);
      width: 75vw;
      height: 100vh;
      padding-top: 100px;
      -webkit-transition: .5s;
      transition: .5s;
    &.active {
        //activeをjsでつけたら、右からスライドさせて登場
        transition: .5s;
        transform: translateX(-100%);
        z-index: 2;
      }
    }
  }
   &-list {
    display: flex;
    justify-content: space-between;
    @include mq() {
      display: block;
    }
   }
   &-item {
    @include mq() {
      width: 100%;
      height: 100px;
    }
   }
  &-link {
    padding: 0 20px;
    font-size: 16px;
    color: $color_sub;
    @include mq() {
      display: block;
      padding: 30px;
      text-align: left;
      font-size: 16px;
    }
  }
}




// ==============================
// hamburger
// ==============================
.menu-trigger {
  display: none;
  @include mq() {
  display: inline;
  }
  transition: all .4s;
  box-sizing: border-box;
  position: relative;
  width: 40px;
  height: 32px;
  z-index: 3;
  span {
    display: inline-block;
    transition: all .4s;
    box-sizing: border-box;
    //親にくっつける
    position: absolute;
    left: 0;
    //棒線のところ。
    width: 100%;//親が４０px
    height: 4px;
    background-color: $color_sub;
    border-radius: 4px;
    &:nth-of-type(1) {
      top: 0;
    }
    &:nth-of-type(2) {
      top: 14px;
    }
    &:nth-of-type(3) {
      bottom: 0;
    }
  }
  //activeがついたあと
  &.active span {
    //1本め
    &:nth-of-type(1) {
      transform: translateY(12px) rotate(-45deg);// Yは縦方向
    }
    //2本め
    &:nth-of-type(2) {
      opacity: 0; //消す
    }
    //3本め
    &:nth-of-type(3) {
      transform: translateY(-15px) rotate(45deg);
    }
  }
}



// ==============================
// mv
// =============================
.mv {
  background-image: url('../img/mv.png');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  overflow: hidden;
  height: 648px;
  &-inner {
    margin: auto;
    max-width: 1024px;  
    padding:180px 20px;
    display: flex;
    @include mq() {
      display: block;
      text-align: center;
    }
  }
  &-wrapper {
    margin-left: auto;
   text-align: left;
   max-width: 524px;
   @include mq() {
    text-align: center;
  }
  }
  &-ttl {
    font-size: 3rem;//30px
    line-height: 1.5;
    margin-bottom: 40px;
    font-weight: bold;
    font-weight: 600;
  }
  &-txt {
    margin-bottom: 40px;
    font-weight: bold;
  }
  &-list {
    width: 50%;
    @include mq() {
      width: 100%;
      }
  }
}


// ==============================
//news
// =============================
.news{
  color: #3e3e3e;
  &-inner {
    margin: auto;
    width: 1180px;
    background: #fff;
    box-shadow: 0 5px 12px rgba(62, 62, 62, 0.2);
  }
  &-list {
    padding: 56px 48px 40px;
  }
  &-link {
    display: flex;
    @include mq() {
    display: block;
    text-align: center;
    }
    align-items: center;
    position: relative;//矢印の親
    color: #3e3e3e;
    letter-spacing: .025em;
    transition:  .2s;
    padding: 40px;
    :after { //&いらない
    content: '';
    display: block;
    width: 15px;
    height: 15px;
    border-top: solid 3px #d01137;
    border-right: solid 3px #d01137;
    transform: rotate(45deg);
    position: absolute;//矢印の子
    right: 14px;
    top: 50%;
  }
  &:hover {
    background-color: rgba(73, 115, 255, 0.1);
  }
  }
  &-item {
    border-bottom: solid 2px #f0f0f0;
  &:nth-of-type(1)  {//&いる タイプ別で判断する
    border-top: solid 2px #f0f0f0;
    margin-top: 40px;
      }

  &-date {
    font-weight: bold;
    white-space: nowrap;
    @include mq() {
           }
  }
  &-category {
    white-space: nowrap;
    font-size: 1.4rem;
    padding: 0 32px;
    background: #fff;
    border: solid 2px #4973ff;
    border-radius: 30px;
    display: inline-block;
    font-size: 1.2rem;
    line-height: 1.8;
    margin-left: 60px;
  @include mq() {
    margin-left: 0px;
  }
  }
  &-txt {
    margin-left: 60px;
  @include mq() {
      margin-top: 40px;
      margin-left: 0px;
    }
  }
  }
  &-btn-wrapper {
    margin: 40px 16px 0;
  }

  &-btn {
    margin: auto;
    width: 248px;
    border: solid 1px #3e3e3e;
    color: #3e3e3e;
    display: block;
    font-family: "Montserrat", sans-serif;
    font-size: 2rem;
    font-weight: 600;
    letter-spacing: .2;
    padding: 2rem 0;
    text-align: center;
    transition: all 0.3s ease 0s;/* プロパティ名 | 時間 | 時間関数 | 遅延 */
    &:hover {
      color: #fff;
      background:#222;
      opacity: 1;
    }
    @include mq() {
      width: 100px;
    }
  }
}

//rem 常にhtmlに依存
//em 親の

//https://note.com/takamoso/n/nde1275183086
//em 親要素の値をみる
//2em = 16× 2 = 32px 
//メディアクエリ → em
//font-size → em / rem
//borderなど常に見た目が変わらない → px
//それ以外 → em / rem

////文字＋余白の合計の高さが32px


// ==============================
//service
// =============================
.service{
  background: linear-gradient(to bottom, #3e3e3e 0, #3e3e3e 400px, transparent 400px, transparent 100%);
  padding-top: 76px;
  &-inner {
    background: #fff;
    margin: 76px auto 0;//上） （右） （下） （左） 
    max-width: 1040px;
  }
  &-heading {
    color: #fff;
  }
  &-list {
    display: flex;
    align-items: center;
    color: #130606;
    @include mq() {
      width: 100%;
      flex-direction: column;
    }
  }
  &-item {
    padding: 54px 45px;
    dt {
      background-position: top center;
      background-repeat: no-repeat;
      font-family: "Montserrat", sans-serif;
      font-size: 1.8rem;
      font-weight: 600;
      letter-spacing: .2em;
      line-height: 1.3;
      padding-top: 72px;//ここで画像とdtにスペースを空ける
      text-align: center;
    }
    &:nth-child(1) dt {
      background-image: url(../img/service1.svg);
    }
    &:nth-child(2) dt {
      background-image: url(../img/service2.svg);
    }
    &:nth-child(3) dt {
      background-image: url(../img/service3.svg);
    }
  }
}








//==============================
//price 
// =============================
.price {
   &-txt {
    text-align: left;
    margin-top: 40px;
  }
  &-table {
    width: 100%;
    border-collapse: collapse;
    background-color: $color_default;
  th {
    width: 30%;
    padding: 30px;
    border: 1px solid #E5E5E5;
    background-color: #3e3e3e;
    color: #fff;
    @include mq() {
    display: block;
    width: 100%;
    box-sizing: border-box;
        }
  }
  td {
    width: 70%;
    padding: 30px;
    border: 1px solid #E5E5E5;
    @include mq() {
      display: block;
      text-align: center;
      margin: 0;
      width: 100%;
      box-sizing: border-box;
        }
  }
  }
}





// ==============================
//comments
// =============================
.bg-wrapper {
  position: relative;//beforeと同じ所につける
}
.bg-wrapper:before {
  background: #3e3e3e;
  bottom: 0;
  content: '';
  display: block;
  left: 0;
  position: absolute;
  bottom: 72px;
  top: 150px;
  width: 71.7%;
  @include mq() {
    width: 100%;
  }
}


// ==============================
//comments
// =============================
.comments {
  position: relative;
  z-index: 1;
  color: #3e3e3e;
  &-heading {
    margin-top: 30px;
  }
  &-wrapper {
  display: flex;
  @include mq() {
  flex-direction: column;
    }
  }
  &-inner {
    margin: auto;
    width: 1040px;
  }

  &-ttl {
    font-size: 28px;
    text-align: center;
    margin-bottom: 40px;
    font-weight: bold;
    @include mq() {
      font-size: 24px;
    }
  }
  &-list {
    align-items: center;
    color: #3e3e3e;
    background: #fff;
    @include mq() {
      width: 100%;
    }
  }
  &-item {
    padding: 54px 45px;
    display: flex;
    line-height: 1.6;
    &:before {
      content: ''; 
      display: block;
      flex: 0 0 56px; /* 値を3つ指定: flex-grow | flex-shrink | flex-basis */
      height: 56px;
      margin-right: 24px;
  }
    &:nth-of-type(1):before {
      background: url(../img/comments1.png) center center/contain no-repeat;
    }
    &:nth-of-type(2):before {
      background: url(../img/comments2.png) center center/contain no-repeat;
    }

  }
&-fig {
  margin-top: 126px;
  @include mq() {
  display: none;
  }
}
}


//==============================
//faq 
// =============================
.faq {
  background-image: url(../img/sunyu-kim-1053375-unsplash.png);
  background-attachment: fixed;//パララックスデザイン
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  margin-top: 60px;
  padding: 120px 40px;
  position: relative;
  z-index: 1;
  cursor: pointer;
  @include mq() {
    background-attachment: scroll;
   }
  &-inner {
    margin: auto;
    width: 1040px;
  }

  &-list {
    width: 50%;
    margin-left: auto;
    margin-top: 30px;
    @include mq() {
      width: 100%;
      margin: auto;
    }
  }
  &-item {
    border: 1px solid #E5E5E5;
    padding: 0 18px;
    background-color: #ffff;
    @include mq() {
     margin-bottom: 20px;
    }
    /*question*/
    &-question {
      display: flex;
      padding: 20px;
      &:before {
        background: #4973ff;
        border-radius: 50%;
        color: #fff;
        content: 'Q';
        display: inline-block;
        flex: 0 0 26px;
        font-family: "Montserrat", sans-serif;
        height: 26px;
        line-height: 26px;
        text-align: center;
    }
    &-txt {
      flex: 0 1 100%;
      line-height: 1.7;
      margin-left: .75em;
      position: relative;
        }
      }
     /*answer*/
      &-answer {
        display: none;
        padding-bottom: 18px;
      &-txt {
        background: rgba(73, 115, 255, 0.2);
        border-radius: 7px;
        line-height: 1.7;
        padding: 15px 14px;
      }
      }
  }
}





//==============================
//faq 矢印
// =============================
.faq-item-question-txt:before, .faq-item-question-txt:after {
  background: #4973ff;
  content: '';
  display: block;
  height: 3px;
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  transition: -webkit-transform .3s;
  transition: transform .3s;
  transition: transform .3s, -webkit-transform .3s;
  width: 15px;
}
.faq-item-question-txt:after {
  transform: translateY(-50%) rotate(90deg);
}
.faq-item-question-txt .faq-item-question-txt:after {
  transform: translateY(-50%) rotate(0);
}
.faq-item.add-active .faq-item-question-txt:after {
  transform: translateY(-50%) rotate(0);
}



//==============================
//.contact 
// =============================
.contact {
  background: url(../img/alex-blajan-159378-unsplash.png) center center/cover;

  &-inner {
    max-width: 960px;
    margin: auto;
  }
  &-heading {
    position: relative;
    font-size: 3.6rem;
    font-weight: bold;
  &-txt  {
    position: relative;
    padding: 20px;

    }
  }
  form {
    padding: 56px 90px 58px;
    background: white;
    @include mq() {
      padding: 10px;
     }
  }
  &-head {
    position: relative;
    width: 100%;
    padding: 58px 0 64px;
    position: relative;
    text-align: center;
    color: #130606;
  &:before {
      background: url(../img/contact.jpg) center center/cover no-repeat;
      content: '';
      display: block;
      height: 100%;
      left: 0;
      position: absolute;
      top: 0;
      width: 100%;
      color: #130606;
    }
   &_inner {
    color: $color_default;
   } 
  }

  &-form {
    width: 100%;
    margin: auto;
    background: $color_default;
    @include mq() {
    width: 100%;;
        }
    &_inner {
      padding: 50px;
    }
  }
  &-item:not(.mod-msg) {
    display: flex;
    @include mq() {
      flex-direction: column;
      }
  }

  .u-white {
    color: $color_default;
  }

  &-input-box {
    flex: 0 1 100%;
    margin-left: 80px;
  }

  .text-box {
    background: $color_third;
    border: none;
    padding: 20px;
    width: 50%;
    box-sizing: border-box;//spの時横幅超えてしまう
    @include mq() {
      width: 100%;;
          }
    &_textarea {
      background: $color_third;
      border: none;
      padding: 20px;
      width: 80%;
      box-sizing: border-box;
      @include mq() {
        width: 100%;;
          }
    }
  }
  &-item {
    margin-bottom: 42px;
    &-ttl {
      display: flex;
      flex: 0 0 195px;
      @include mq() {
        flex: none;
      margin-bottom: 20px;
            }
    }
  }
  &-require-label {
    margin-left: auto;
    padding: 0 12px;
    background: #ff4646;
    border-radius: 5px;
    color: #fff;
    display: inline-block;
    font-size: 1.4rem;
    line-height: 24px;
    padding: 0 10px;
    @include mq() {
    display: inline;
    margin-left: 10px;
        }
    }
  &-btn_wrapper {
    text-align: center;
  }
  .counter-container {
    margin-top: 10px;
  }  
}



/* --------------------------
access
---------------------------- */
.access {
  position: relative;
  z-index: 1;
  display: grid;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  grid-template-columns: 420px 1fr;
  grid-template-rows: auto 1fr;
  margin: 126px auto 0;
  max-width: 1260px;
  padding: 120px 40px;
  color: #f0f0f0;
  @include mq() {
  display: block;
  padding: 0 20px;
    }
  &-inner {
    @include mq() {
      width: 100%;
      margin: 30px auto 0;
      text-align: center;
    }
  }
   &-address {
     margin-top: 30px;
     letter-spacing: 2;
     
   }
  &-map_wrapper {
    @include mq() {
    position: relative;
    width: 100%;
    padding-top: 75%; /* = height ÷ width × 100 */
  }
  iframe {
    @include mq() {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
      }
    }
  }
}

//-------------------------------------
//input,textarea,radio.checkbox,select
//-------------------------------------
.contact-item input[type="text"],.contact-item input[type="email"]  {
  border: none;
  border-bottom: solid 1px #3e3e3e;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  letter-spacing: .03em;
  padding: 0 .5em;
  position: relative;
  width: 100%;
  /*フォーカスしたときのトランジション設定 すべてのプロパティが0.5秒で切り替わる*/
transition: all 0.5s;
}
input[type="radio"] {
  display: none;

}
.contact-item textarea {
  border: solid 1px #3e3e3e;
  height: 160px;
  margin-top: 8px;
  outline: none;
  padding: .5em;
  resize: vertical;
  transition: .2s;
  width: 100%;
  font-size: 2.1rem;
  height: 212px;
}
.contact-item select {
  border: solid 1px #3e3e3e;
  color: #3e3e3e;
  font-size: 1.8rem;
  height: 32px;
  line-height: 32px;
  outline: none;
  padding: 0 95px 0 20px;
  transition: -webkit-box-shadow .2s;
  transition: box-shadow .2s;
  transition: box-shadow .2s, -webkit-box-shadow .2s;
  width: 100%;
}
//==============================
//フォーカス
// =============================
.contact-focusLine {
  bottom: 1px;
  box-shadow: 0 2px 4px rgba(73, 115, 255, 0.6);
  display: block;
  height: 1px;
  left: 0;
  opacity: 0;
  position: absolute;
  transition: opacity .2s;
  width: 100%;
}
input:focus {
  border-bottom: solid 2px #4973ff;
  }
//==============================
//select
// =============================
.contact-select_wrapper {
  margin-left: 80px;
  position: relative;
}
.contact-select_wrapper:after {
  border-bottom: solid 2px #3e3e3e;
  border-right: solid 2px #3e3e3e;
  content: '';
  display: block;
  height: 6px;
  position: absolute;
  right: 10px;
  top: 12px;
  transform: rotate(45deg);
  width: 6px;
}
//==============================
//textarea:
// =============================
.contact-item textarea:focus {
  border-color: #4973ff;
  box-shadow: 0 0 4px #4973ff;
}
//------------------------------
//checkbox
//------------------------------
.contact-privacy {
  display: inline-block;
  margin-top: 16px;
}
.contact-privacy-label {
  cursor: pointer;
  display: block;
  padding-left: 38px;
  position: relative;
}
.contact-privacy-label:before {
  background: #fff;
  border: solid 1px #3e3e3e;
  content: '';
  display: block;
  height: 16px;
  left: 0;
  position: absolute;
  top: 2px;
  -webkit-transition: .2s;
  transition: .2s;
  width: 16px;
}
.contact-privacy-label:after {
  border-bottom: solid 2px #4973ff;
  border-left: solid 2px #4973ff;
  content: '';
  display: block;
  height: 4px;
  left: 2px;
  opacity: 0;
  position: absolute;
  top: 7px;
  transform: rotate(-45deg);
  transition: .2s;
  width: 12px;
}
input[type="checkbox"]:checked + .contact-privacy-label:after {
  opacity: 1;
}
input[type="checkbox"] {
  display: none;
}
//------------------------------
//radio
//------------------------------
.contact-radio_wrapper {
  display: inline-block;
}
.contact-radio-label {
  padding-left: 25px;
  position: relative;
  display: block;
  
}
.contact-radio-label:before {
  background: #fff;
  border: solid 1px #3e3e3e;
  border-radius: 50%;
  content: '';
  display: block;
  height: 10px;
  left: 0;
  position: absolute;
  top: 2px;
  -webkit-transition: .2s;
  transition: .2s;
  width: 10px;
}
.contact-radio-label:after {
  background: #4973ff;
  border-radius: 50%;
  content: '';
  display: block;
  height: 6px;
  left: 3px;
  opacity: 0;
  position: absolute;
  top: 5px;
  -webkit-transition: .2s;
  transition: .2s;
  width: 6px;
}
input[type="radio"]:checked + .contact-radio-label:after {
  opacity: 1;
}

//------------------------------
//footer
//------------------------------
.footer {
  background: #3e3e3e;
  padding: 110px 0 100px;
  color: #fff;
  &-inner {
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  max-width: 1260px;
  padding: 0 40px;
  @include mq() {
    flex-direction: column;
    text-align: center;
      }
  }
  &-list {
  &_right {
    margin-top: 30px;
  @include mq() {
    margin-bottom: 30px;
   }
  }
  &_left {
    display: flex;
  @include mq() {
   justify-content: space-between;
    }
  }
  }
  &-item {
    margin-top: 10px;
  }
  &-link {
    font-size: 1.8rem;
  }
  a {
    color: #fff;
  }
  &-company-name {
    font-size: 4.4rem;
    @include mq() {
    font-size: 2rem;
    }
  }
  &-copyright {
    color: #fff;
    display: block;
    font-family: "Montserrat", sans-serif;
    font-size: 1.2rem;
    letter-spacing: .025em;
    opacity: .6;
  }
.fab {
    font-size: 2em;
    opacity: 1;
  }
.fa-facebook {
  margin-left: 20px;
}
}



/*-------------------------
resultss
---------------------------- */
.results {
  background: #3e3e3e;
  margin: 130px 0 0 auto;
  padding: 77px 0 80px 110px ;//上　右　下　左
  max-width: 70%;
  @include mq() {
  margin: auto;
  padding: 0 10px;
  max-width: 100%;
    }
}
.results-item {
  width: 422px; 
  margin-right: 40px;
}

.results .util-ttl {
  color: #fff;
  font-size: 3.6rem;
}

.results .util-linkBox {
  margin: 40px 16px 0 0;
}

.results-container {
  margin-top: 36px;
}

.results-pagination {
  position: static !important;
}

.results-pagination .swiper-pagination-bullet {
  background: #fff;
  height: 12px;
  margin: 0 10px !important;
  opacity: 1;
  position: relative;
  width: 12px;
}

.results-pagination .swiper-pagination-bullet:focus {
  outline: none;
}

.results-pagination .swiper-pagination-bullet.swiper-pagination-bullet-active:after {
  border: solid 1px #fff;
  border-radius: 50%;
  content: '';
  display: block;
  height: 20px;
  left: 50%;
  position: absolute;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: 20px;
}

.results-itemLink {
  background: #fff;
  color: #3e3e3e;
  display: block;
}

.results-itemLinkInner {
  padding: 17px 20px 20px;
}

.results-itemFig img {
  width: 100%;
}

.results-itemTtl {
  font-size: 2rem;
  font-weight: 600;
}

.results-itemTxt {
  line-height: 1.5;
  margin-top: 18px;
  text-align: justify;
  text-justify: inter-ideograph;
}

.results-pagination {
  margin: 52px 0 0 -5px;
  text-align: left;
}

.results .util-linkBox {
  margin: 50px 0 0 0;
}

.results .util-link {
  max-width: 300px;
}

.util-link.mod-light {
  border-color: #fff;
  color: #fff;
  max-width: 300px;
@include mq() {
max-width: 100%;
color: #130606;
}

}





/* --------------------------
.scroll-top
---------------------------- */
.scroll-top {
  position: fixed;
  z-index: 100;
  bottom: 30px;
  right: 20px;
  a {
    background-color: #fff;
    text-align: center;
    text-decoration: none;
    padding: 20px 40px;
    position: relative;
    border: 1px solid #130606;
  }
  a:hover {
    text-decoration: none;
  }
  a:before {
    content:'';
    position: absolute;
    top: 40%;
    left: 30%;
    width: 0;
    height: 0;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-bottom: 15px solid #333;
  }
}



